/* styling for home page*/
.home_wrapper {
  margin-bottom: 100px;
}
#home_text_container_1 {
  background-color: #8FD9F4;
}
#home_text_container_2 {
  background-color: #90F49B;
}
#home_text_container_3 {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}
#qoute_name {
  position: absolute;
  right: 15px;
  bottom: -35px;
}

#home_text_container_4 {
  background-color: #FEA5CE;
  text-align: center;
}

#home_text_container_4 > img {
  width: 94%;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .home_wrapper {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  #home_text_container_3 {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .home_wrapper {
    width: 1024px;
    display: flex;
    }
}

/*  Styling for about us page*/
#text_container1 {
  background-color: #90F49B;
}
#text_container2 {
  background-color: #8FD9F4;
}
#text_container3 {
  background-color: #FEA5CE;
}
@media screen and (min-width: 768px) {
  .content {
    width: 768px;
    margin: 0 auto;
  }
  #about_bottom {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    width: 1024px;
  }
}

/*  Styling for exhibitions page*/
.exhibition_badge {
  position: relative;
  width: 96%;
  height: 35vh;
  max-height: 300px;
  text-align: center;
  }
.exhibition_badge > h3 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 2.2em;
  font-weight: bolder;
}
.badgeimage {
  width: 96%;
  max-width: 475px;
  position: absolute;
  bottom: 10px;
  left: 2%;
}
.exhibition_wrapper {
  margin-bottom: 100px;
}
@media screen and (min-width: 425px) {
  .exhibition_badge {
    min-height: 250px;
  }
  .exhibition_badge > h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .badgeimage {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .exhibition_wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }
  .exhibition_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .exhibition_wrapper {
    width: 1024px;
  }
}
#exhibition_badge_1 {
  background-color: #FEFAA3;
}
#exhibition_badge_2 {
  background-color: #96D8F1;
}
#exhibition_badge_3 {
  background-color: #FBA5CD;
}
#exhibition_badge_4 {
  background-color: #90F49B;
}

/*  Styling for evolution page  */
.evo_content {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .evo_content {
    width: 768px;
  }
  #evo_bottom_content {
    margin: 0 auto;
    width: 100%;
    display: flex;

  }
  .evo_bot_container {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .evo_content {
    width: 1024px;
  }
}

/* Styling for evolution page */
@media screen and (min-width: 768px) {
  .bio_bottom_content {
    display: flex;
  }
  .bio_content_container {
    width: 50%;
  }
}



/*  Styling for event page*/

#event_text_container1 {
  background-color: #96D8F1;
}
#event_text_container2 {
  background-color: #FBA5CD;
}
#event_text_container3 {
  background-color: #90F49B;
}
.event_section2 {
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .event_wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }
  .event_section_1 {
    width: 50%;
  }
  .event_section_2 {
      width: 50%;
    }
}
@media screen and (min-width: 1024px) {
  .event_wrapper {
    width: 1024px;
  }
}

/*  Styling for visit page*/

#visit_text_container1 {
  background-color: #FBA5CD;
}
#visit_text_container2 {
  background-color: #96D8F1;
  margin-left: auto;
  margin-right: auto;
}
#visit_text_container3 {
  background-color: #90F49B;
}
#contact_container {
  background-color: #FEFAA3;
}
.visit_wrapper {
  text-align: center;
  }
.list_container {
  display: flex;
  margin-bottom: 10px;
}
.list_container ul {
  padding-left: 15px;
}
.list_container ul:first-child {
  padding-left: 0px;
  margin-left: 10px;
}
.contactus {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
}
.contactus input {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 100%;
  height: 20px;
  text-indent: 10px;
  border: solid 1px #ddd98d;
}
.contactus textarea {
  margin: 0 auto;
  resize: vertical;
  width: 100%;
  min-height: 180px;
  text-indent: 10px;
  border: solid 1px #ddd98d;
  padding-top: 5px;
}
.contactus button {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: solid 1px #ddd98d;
  border-radius: 5px;
  background-color: #ede797;
}

@media screen and (min-width: 768px) {
  .visit_wrapper {
    width: 768px;
    margin: 0 auto;
  }
  .visit_text_container {
    width: 30%;
  }
  #visit_upper_wrapper {
    margin-bottom: 10px;
    display: flex;
  }
  .contactus button {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .visit_wrapper {
    width: 1024px;
  }
  #visit_text_container1 {
  margin-left: 10px;
  }
  #visit_text_container3 {
    margin-right: 10px;
  }
  .map {
    margin-left: 0;
  }
  #map {
    text-align: left;
    width: 90%;
    margin-left: 10px;
  }
  #contact_container {
    margin-right: 10px;
  }
  #visit_lower_wrapper {
    display: flex;
  }
  .contactus button {
    width: 35%;
  }
}




/*  Styling for cosmology page*/
