@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("main_style.css");
@import url("header_footer.css");
@import url("sidenav.css");

/*   General styling for all pages*/
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  text-decoration: none;
}
body {
  position: relative;
  min-width: 320px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}
