@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("main_style.css");
@import url("header_footer.css");
@import url("sidenav.css");

/*   General styling for all pages*/
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  text-decoration: none;
}
body {
  position: relative;
  min-width: 320px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}
h2 {
  margin-left: 3%;
  margin-bottom: 15px;
}
.content {
  text-align: center;
}
.containerform {
  width: 94%;
  border: white solid 1px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: left;
}
.containerform > h3 {
  font-size: 1em;
  margin: 10px;
}
.containerform > p {
  font-size: 1em;
  margin: 10px;
}
.imgform {
  width: 94%;
  border: white solid 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .title_container {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .title_container {
    width: 1024px;
  }
}
